[submodule "csv_2_SignalSim"]
	path = csv_2_SignalSim
	url = https://github.com/MarkFlickers/csv_2_SignalSim.git
[submodule "SignalSim"]
	path = SignalSim
	url = https://github.com/Daody/SignalSim.git
